@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + .menu__list-item {
    margin-left: 35px;
  }

  &__list-link {
    padding-bottom: 1px;
    text-transform: uppercase;
    color: $title;
    transition: color .3s;
    @extend %quicksand-400;
    &:hover {
      @extend %quicksand-500;
      border-bottom: 1px solid $accent;
      color: $accent;
    }
  }

  &__list-link--active {
    @extend %quicksand-500;
    border-bottom: 1px solid $accent;
    color: $accent;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link + .user-nav__link {
    margin-left: 25px;
  }

  &__num {
    position: absolute;
    top: -9px;
    right: -14px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: $accent;
  }
}

@import 'media';

